<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.wxcloudrun.dao.WxBrowsingUsersMapper">
    <resultMap id="BaseResultMap" type="com.tencent.wxcloudrun.model.WxBrowsingUsers">
        <!--@mbg.generated-->
        <!--@Table wx_browsing_users-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="login_open_id" jdbcType="VARCHAR" property="loginOpenId"/>
        <result column="browsing_users_openid" jdbcType="VARCHAR" property="browsingUsersOpenid"/>
        <result column="browsing_type" jdbcType="VARCHAR" property="browsingType"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, login_open_id, browsing_users_openid, browsing_type, create_time
    </sql>


    <select id="queryBrowsingUsersPage" resultType="com.tencent.wxcloudrun.vo.WxUserBrowsingUsersVo">
        select distinct wxUser.*, browsingUsers.browsing_type
        from wx_browsing_users browsingUsers, wx_user wxUser
        where wxUser.openid = browsingUsers.browsing_users_openid
        and browsingUsers.login_open_id = #{wxPersonalBrowseDTO.loginOpenId}
        <if test="wxPersonalBrowseDTO.pay == '1'.toString()">
             and browsingUsers.browsing_type in ('1', '2')
        </if>
    </select>


       <select id="queryBebrowsedPage" resultType="com.tencent.wxcloudrun.vo.WxUserBrowsingUsersVo">
        select distinct wxUser.*, browsingUsers.browsing_type
        from wx_browsing_users browsingUsers, wx_user wxUser
        where wxUser.openid = browsingUsers.login_open_id
        and browsingUsers.browsing_users_openid = #{wxPersonalBrowseDTO.browsingOpenid}
        <if test="wxPersonalBrowseDTO.pay == '1'.toString()">
             and browsingUsers.browsing_type in ('1', '2')
        </if>
    </select>


     <select id="queryCount" resultType="java.lang.Integer">
        select count(distinct browsingUsers.browsing_users_openid)
        from wx_browsing_users browsingUsers, wx_user wxUser
        where wxUser.openid = browsingUsers.browsing_users_openid and browsingUsers.login_open_id = #{wxPersonalBrowseDTO.loginOpenId}
        <if test="wxPersonalBrowseDTO.pay == '1'.toString()">
             and browsingUsers.browsing_type in ('1', '2')
        </if>
    </select>
</mapper>
