<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.wxcloudrun.dao.WxUserMapper">
    <resultMap id="BaseResultMap" type="com.tencent.wxcloudrun.model.WxUser">
        <!--@mbg.generated-->
        <!--@Table wx_user-->
        <id column="openid" jdbcType="VARCHAR" property="openId"/>
        <result column="appid" jdbcType="CHAR" property="appid"/>
        <result column="wx_number" jdbcType="VARCHAR" property="wxNumber"/>
        <result column="serial_number" jdbcType="VARCHAR" property="serialNumber"/>
        <result column="phone" jdbcType="CHAR" property="phone"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="sex" jdbcType="TINYINT" property="sex"/>
        <result column="height" jdbcType="DOUBLE" property="height"/>
        <result column="weight" jdbcType="DOUBLE" property="weight"/>
        <result column="birthday" jdbcType="VARCHAR" property="birthday"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="region" jdbcType="VARCHAR" property="region"/>
        <result column="headimgurl" jdbcType="VARCHAR" property="headimgurl"/>
        <result column="unionid" jdbcType="VARCHAR" property="unionid"/>
        <result column="personProfile" jdbcType="LONGVARCHAR" property="personProfile"/>
        <result column="mating_requirement" jdbcType="LONGVARCHAR" property="matingRequirement"/>
        <result column="qr_scene_str" jdbcType="VARCHAR" property="qrSceneStr"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="education" jdbcType="VARCHAR" property="education"/>
        <result column="occupation" jdbcType="VARCHAR" property="occupation"/>
        <result column="remuneration" jdbcType="VARCHAR" property="remuneration"/>
        <result column="approve" jdbcType="VARCHAR" property="approve"/>
        <result column="marriage_seeking_flag" jdbcType="TINYINT" property="marriageSeekingFlag"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        openid, serial_number, height, weight, appid, wx_number, phone, nickname, sex, birthday, city, province, region,
        headimgurl,
        unionid, personProfile, mating_requirement, qr_scene_str, create_time, update_time, education, occupation,
        approve, remuneration,marriage_seeking_flag
    </sql>
    <select id="queryWxUserPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from wx_user
        <where>
            1 = 1
                    and marriage_seeking_flag = '0'
                    and approve = #{wxUserPageParamDto.approve}
            <if test="wxUserPageParamDto.birthdaySexSearch != null
                    and wxUserPageParamDto.birthdaySexSearch != ''">
                <!--这个查询是80后女-->
                <if test="wxUserPageParamDto.birthdaySexSearch == '1'.toString()">
                    and birthday between '1980-01-01' and '1989-12-31'
                    and sex = '女'
                </if>

                <!--这个查询是80后男-->
                <if test="wxUserPageParamDto.birthdaySexSearch == '2'.toString()">
                    and birthday between '1980-01-01' and '1989-12-31'
                    and sex = '男'
                </if>

                <!--这个查询是90后女-->
                <if test="wxUserPageParamDto.birthdaySexSearch == '3'.toString()">
                    and birthday between '1990-01-01' and '1999-12-31'
                    and sex = '女'
                </if>

                <!--这个查询是90后男-->
                <if test="wxUserPageParamDto.birthdaySexSearch == '4'.toString()">
                    and birthday between '1990-01-01' and '1999-12-31'
                    and sex = '男'
                </if>
            </if>
            <if test="wxUserPageParamDto.regionSexSearch != null
                    and wxUserPageParamDto.regionSexSearch != ''">
                <if test="wxUserPageParamDto.regionSexSearch == '1'.toString()">
                    and province = '北京'
                    and sex = '女'
                </if>
                <if test="wxUserPageParamDto.regionSexSearch == '2'.toString()">
                    and province = '北京'
                    and sex = '男'
                </if>
            </if>
        </where>
    </select>

    <update id="updateByPhone">
       update wx_user set openid = #{openId} where phone =#{phone}
    </update>


    <select id="queryBoarduserWithMan" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from wx_user
        where approve = '0' and sex = '男' and headimgurl is not null and headimgurl !='' order by update_time desc limit 6
    </select>



    <select id="queryBoarduserWithWoman" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from wx_user
        where approve = '0' and sex = '女' and headimgurl is not null and headimgurl !='' order by update_time desc limit 6
    </select>

</mapper>
